.finalScoreWrapper {
    padding: 1em 0 3em 0;
}
.title {
    margin-top: 0.2em;
}
.finalScoreLabel {
    font-weight: 500;
    font-size: 2.3em;
}
.finalScoreValue {
    font-size: 3em;
    font-weight: 800;
    color: #960000;
    -webkit-text-stroke: 0.5px white;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}
.highScoreLabel {
    font-weight: 600;
    font-size: 1.6em;
}
.highScoreValue {
    font-weight: 700;
    font-size: 2.2em;
    color: #0f0f0f;
    -webkit-text-stroke: 0.3px white;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}